.carbon-box {
    width: 100%;
    height: 95px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background-color: white;
    margin-top: 12px;
}

.carbon-box img,
.money-box img,
.hanger-info-text1 img,
.hanger-info-text2 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.money-box {
    width: 100%;
    height: 102px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background-color: white;
    margin-top: 12px;
}

.hanger-info-text1 {
    width: 100%;
    height: 133px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background-color: white;
    margin-top: 12px;
}

.hanger-info-text2 {
    width: 100%;
    height: 85px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background-color: white;
    margin-top: 12px;
}